<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  </head>

  <body>
    <nav>
    <div class="nav-wrapper">
      <div class="brand-logo center">mini Blog App</div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <li><%= link_to "Create Post", "/posts/new", class: 'post' %></li>
          <li><%= link_to "Sing Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sing in", new_user_session_path, class: 'post' %></li>
          <li><%= link_to "Sing Up", new_user_registration_path, class: 'post' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
